
.flex-containerHeader{
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 70em;
}

.flex-container{
  display: inline-flex;
  flex-direction: column;
  background-color: lightblue;
  width: 100%;
}

.aligner {
  display: flex;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;
}

.aligner-field { 
  margin: 0.2em;
  background-color: white;
	padding: 0.1em 0em 0.1em 0.5em;
	border-style: outset;
  border-color: white;
  text-align: left;
  vertical-align: top;
  color: black;
  font-size: 1em;
  flex: 1 1 22em;
  max-width: 22em;
  height: 1.3em;
  transition: 1.3s;
  display: flex;
} 

/* *\


/* .aligner-div:hover { 
  flex: 1 1 22em;
  height: 12em;
  background: lightgrey;
  vertical-align: top;
  cursor: pointer;

}  */

.aligner-btn { 
  flex: 1 1 23%;
  float: right;
  min-width: 1.6em;
  background-color: lightgrey;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-style: outset;
	border-color: white;
} 


.aligner-btn:active { 
  background-color: lightblue;
}


.highlight{
	background-color: yellow;
}

.on{
	background-color: #8DF08C;
	border-style: outset;
}

.off{
	background-color: #ED9E98;
	border-style: inset;
}

.field{
  flex: 1;
}


.btn_panel{
  display: flex;
  background-color: white;
  float: right;
}

.greyed_out{
	opacity: 0.6;
	border-style: inset;
}

.notApplicable{
  opacity: 0.6;
}

.dropdown-contentDate {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 20px;
  top: -20px;
  cursor: pointer;
  min-width: 12em;
  transition: 1.3s ease-out;
  opacity: 1;
}

.dropdown-contentDigitAll {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 8px;
  z-index: 1;
  left: 3px;
  cursor: pointer;
  transition: 1.3s ease-out;
  opacity: 1;
  line-height: 0.5em;
}

.dropdown-contentDigit {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 8px;
  z-index: 1;
  left: 3px;
  top: -20px;
  cursor: pointer;
  transition: 1.3s ease-out;
  opacity: 1;
  line-height: 0.5em;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 1px 1px;
    text-decoration: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content a:active {background-color: #f1f1f1}

#date_selected {background-color: lightblue}

.smInput{
  width: 4em;
  margin: 0.5em; 
}

.button{
  background-color: #0083DF; /* Green */
  border: none;
  color: white;
  padding: 6px 4px;
  height: 1.5em;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #4CAF50;
}

.bigButton {
  background-color: #0083DF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 2px;
  cursor: pointer;
}

.bigButton:hover {
  background-color: #4CAF50;
}

h4{
  top: 10px;
  position: relative;
  padding-left: 1em;

}

/* ============================================================================= */
/* Modal */
/* ============================================================================= */

.modal-frame {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  display: block;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  height: 20%;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

.textArea {
  min-height: 15em;
  max-height: 55em;
  margin: 0;
  padding: 0.5em;
  border: none;
  resize: vertical;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-bottom: 1px solid black;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.flexIt {
  flex: 1;
}

.btn {
  margin: 5px;
}

h2 {
  padding-left: 1em; 
}



/* ============================================================================= */
/* Tri-State Button */
/* ============================================================================= */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
}

.btnHolder{
  margin-top: 10px;
  padding: 0em 0em 0em 0.5em;
}

.btnLabel{
display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.btnSwitch button {display:none;}

/* The slider */
.btnSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.btnBall {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.disable{
  background-color: #EB5B43;
}

.enable{
  background-color: #49D06E;
}

.last{
  left: 30px;
}

.middle{
  left: 17px;
}

.midframe{
  height: 95vh;;
}

/* ============================================================================= */
/* Dropdown
/* ============================================================================= */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropContent span:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropBtn {
  background-color: #4CAF50;
}

.dropBtn{
-webkit-font-smoothing: antialiased;
background-color: #0083DF;
border: none;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 100;
text-decoration: none;
user-select: none;
letter-spacing: 1px;
color: white;
padding: 10px 20px;
text-transform: uppercase;
transition: all 0.1s ease-out;
}

.dates {
  padding: 0px 0px;
  z-index: 1;
  cursor: pointer;
  min-width: 12em;
}

.dates span{
  color: black;
  padding: 0.2em 0.3em;
  text-decoration: none;
  display: block;
}

/* ============================================================================= */
/* Keep these rules at bottom of CSS */
/* ============================================================================= */

.center{
  display: flex;
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;
}

.VisibleHidden{
	display: none;
}

.DigitHidden{
	display: none;
}

.DecimalHidden{
	display: none;
}

.dateHidden{
	display: none;
}

.hidden{
	display: none;
}

.visibleBlock{
  display: block;
}

.hide{
  opacity: 0;
}

