
.flex-container{
  display: inline-flex;
  flex-direction: column;
  background-color: lightblue;
  width: 75%;
}

.aligner {
  display: flex;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;

}

.aligner-field { 
  margin: 0.2em;
  background-color: white;
	padding: 0.1em 0em 0.1em 0.5em;
	border-style: outset;
  border-color: white;
  text-align: left;
  vertical-align: top;
  color: black;
  font-size: 1em;
  flex: 1 1 22em;
  max-width: 22em;
  height: 1.3em;
  transition: 1.3s;
  display: flex;
} 

/* *\


/* .aligner-div:hover { 
  flex: 1 1 22em;
  height: 12em;
  background: lightgrey;
  vertical-align: top;
  cursor: pointer;

}  */

.aligner-btn { 
  flex: 1 1 23%;
  float: right;
  min-width: 1.6em;
  background-color: lightgrey;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-style: outset;
	border-color: white;
} 


.aligner-btn:active { 
  background-color: lightblue;
}


.highlight{
	background-color: yellow;
}

.on{
	background-color: #8DF08C;
	border-style: outset;
}

.off{
	background-color: #ED9E98;
	border-style: inset;
}

.field{
  flex: 1;
}


.btn_panel{
  display: flex;
  background-color: white;
  float: right;
}

.greyed_out{
	opacity: 0.6;
	border-style: inset;
}

.notApplicable{
  opacity: 0.6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-contentDate {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 20px;
  top: -20px;
  cursor: pointer;
  min-width: 12em;
  transition: 1.3s ease-out;
  opacity: 1;
}

.dropdown-contentDigit {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 8px;
  z-index: 1;
  left: 3px;
  top: -20px;
  cursor: pointer;
  transition: 1.3s ease-out;
  opacity: 1;
  line-height: 0.5em;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 1px 1px;
    text-decoration: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content a:active {background-color: #f1f1f1}

#date_selected {background-color: lightblue}

.smInput{
  width: 4em;
  margin: 0.5em; 
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 4px;
  height: 1.5em;
  text-decoration: none;
  display: inline-block;
}


/* ============================================================================= */
/* Tri-State Button */
/* ============================================================================= */

.triHolder{
  margin-top: 10px;
}

.triLabel{
display: block;
    margin-left: auto;
    margin-right: auto;
}

.triSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.triSwitch button {display:none;}

/* The slider */
.triSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.triBall {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.disable{
  background-color: #EB5B43;
}

.enable{
  background-color: #49D06E;
}

.last{
  left: 30px;
}

.middle{
  left: 17px;
}

.midframe{
  height: 95vh;;
}

/* ============================================================================= */
/* Keep these rules at bottom of CSS */

.center{
  display: flex;
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;
}

.hidden{
	display: none;
}

.hide{
  opacity: 0;
}

